<section class="contenedor-nav">
    <div id="primer-contenedor">
        <img src="https://cdn-icons-png.flaticon.com/256/5405/5405376.png" alt="logo-hospital">
        <h1>HospitalApp</h1>
    </div>

    <div class="separador separador-medio"></div>

    <nav id="segundo-contenedor">
        <ul>
            <li>
                <div class="nav-boton" id="seleccionado">
                    <img src="https://cdn-icons-png.flaticon.com/512/8123/8123655.png" alt="icono-pediatria">
                    <a href="">Pediatría</a>
                </div>
            </li>
            <li>
                <div class="nav-boton">
                    <img src="https://www.drmarcelorey.com/wp-content/uploads/2020/05/icono-traumatologia.png" alt="icono-ver-turnos">
                    <a href="">Traumatología</a>
                </div>
            </li>
            <li>
                <div class="nav-boton">
                    <img src="https://cdn-icons-png.flaticon.com/512/4200/4200980.png" alt="icono-historial">
                    <a href="">Dermatología</a>
                </div>
            </li>
            <li>
                <div class="nav-boton">
                    <img src="https://cdn-icons-png.flaticon.com/512/3652/3652267.png" alt="icono-perfil">
                    <a href="/dashboard/controlPacientes">Mis Turnos</a>
                </div>
            </li>
        </ul>
        
        <div id="tercer-contenedor">
            <div class="separador separador-completo"></div>
                <div class="perfil">
                    <img class="foto-perfil" src="https://cdn-icons-png.flaticon.com/512/9187/9187604.png" alt="perfil">
                    <div id="info-perfil">
                        <p id="nombre">Agustin M.</p>
                        <p id="rol">Paciente</p>
                </div>
            </div>
        </div>
    </nav>
</section>