<div id="nav-crud">

    <ul class="enlaces">
        <li class="enlace">
            <a href="/admin/indexDoctores">
                <span>VER DOCTORES</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/admin/consultar/doctor">
                <span>CONSULTAR DOCTOR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/admin/crear/doctor">
                <span>CREAR DOCTOR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/admin/modificar/doctor">
                <span>MODIFICAR DOCTOR</span>
            </a>
        </li>

        <li class="enlace">
            <a href="/admin/eliminar/doctor">
                <span>ELIMINAR DOCTOR</span>
            </a>
        </li>
    </ul>
</div>