<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <!-- Preset CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/stylesSeccionDoctor.css">
    <link rel="stylesheet" href="/css/stylesNav.css">
    <link rel="stylesheet" href="/css/styleEliminar.css">
    
    <link rel="stylesheet" href="/css/stylesAdminDoctor.css">
</head>
<body>