<!-- NAV VERTICAL -->
<section class="contenedor-nav">
    <div id="primer-contenedor">
        <img src="/assets/img/logo2.png" alt="imagen">
        <h1>HospitalApp</h1>
    </div>

    <div class="separador separador-medio"></div>

    <nav id="segundo-contenedor">
        <ul>
            <li>
                <div class="nav-boton" id="seleccionado">
                    <img src="/assets/img/logo2.png" alt="icono-pedir-turno">
                    <a href="/dashboard/controlDoctores">Control doctores</a>
                </div>
            </li>
            <li>
                <div class="nav-boton">
                    <img src="/assets/img/logo2.png" alt="icono-ver-turnos">
                    <a href="/dashboard/controlTurnos">Control turnos</a>
                </div>
            </li>
            <li>
                <div class="nav-boton">
                    <img src="/assets/img/logo2.png" alt="icono-historial">
                    <a href="/dashboard/controlHorarios">Control horarios</a>
                </div>
            </li>
            <li>
                <div class="nav-boton">
                    <img src="/assets/img/logo2.png" alt="icono-perfil">
                    <a href="/dashboard/controlPacientes">Control pacientes</a>
                </div>
            </li>
        </ul>
        
        <div id="tercer-contenedor">
            <div class="separador separador-completo"></div>
                <div class="perfil">
                    <img class="foto-perfil" src="/assets/img/logo2.png" alt="perfil">
                    <div id="info-perfil">
                        <p id="nombre">Agustin M.</p>
                        <p id="rol">Paciente</p>
                </div>
            </div>
        </div>
    </nav>
</section>